
.container {
    padding-top: 12vh;
    display: flex;
    justify-content: center;
}
.container_contentCard {
    width: 85vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
.cart_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}
.cart_header button {
    background-color: black;
    border: none;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}
.cart_header button span {
    font-size: 2rem;
}
.cart_header p{
    text-transform: uppercase;
    font-size: 0.8rem;
}
@media (min-width: 1444px) {
    .container_contentCard {
        margin-top: 5rem;
    }
}
.container_cardsProducts {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.container_price {
    height: 80vh;
    border-left: solid var(--color-gris-oscuro) 1px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container_detailPrice {
    background-color: #d9d9d9;
    width: 90%;
    padding: 1rem;
}
.detailPrice_text {
    display: flex;
    justify-content: space-between;
}
.detailPrice_description {
    margin-bottom: 2rem;
}
.detailPrice_total{
    border-top: solid var(--color-gris-oscuro) 1px;
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.container_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_actions button {
    background-color: var(--color-gris-oscuro);
    color: white;
    font-family: var(--font--abel);
    font-size: 1rem;
    border: none;
    padding: 12px 64px ;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.container_actions p {
    color: #757373;
    cursor: pointer;
}
