
.container_cardProduct {
    width: 100%;
    padding: 0.5rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardProduct_content {
    display: flex;
}
.cardProduct_content img {
    width: 8vw;
    height: 6rem;
    object-fit: cover;
    margin-right: 1rem;
    background-color: var(--color-gris);
}


.cardProduct_detail {
    text-align: left;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.cardProduct_detail_model {
    margin-bottom: 1rem;
}
.cardProduct_detail_counter {
    border: solid #7f7f7f 1px;
    width: 5.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
}
.cardProduct_price_counter p {
    font-size: 1rem;
}
.cardProduct_price_counter span {
    cursor: pointer;
}


.cardProduct_buttonDelete {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items:end;
}
.cardProduct_buttonDelete button{
    background-color: white;
    border: none;
}
.cardProduct_buttonDelete span{
    font-size: 1.5rem;
    cursor: pointer;
}
.cardProduct_detail_counter button{
    background-color: white;
    border: none;
}