.container_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vh;
}
.ProductDetailContainer{
    width: 80%;
    margin: 3rem 0rem;
    display: flex;
}

/* contenedor de las imagenes , con scroll */
.product_imagesSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    border-left: solid;
    height: 30rem;
    margin-right: 2rem;
    overflow-y: auto;              
    scrollbar-width: none;   
}
.product_imagesSection::-webkit-scrollbar {
    width: 0;
    background: transparent;       /* Oculta el scroll */
}

.product_imagesSection_imagen {
    background-color: rgb(218, 218, 218);
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* contenedor de las imagen principal */
.product_imagenPricipalSection{
    background-color: rgb(218, 218, 218);
    width: 30rem;
    height: 30rem;
    margin-right: 4rem;
}
.product_imagenPricipalSection img {
    width: 100%;
    height: 100%;
}

/* contenedor del texto */
.product_infoSection {
    flex-grow: 1;
}
.product_infoSection h1 {
font-size: 1.6rem;
}
.ProductPrice {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.product_infoSection button {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-family: var(--font-abel);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.product_infoSection_talles .titulo{
    font-weight: bold;
    border-bottom: solid;
    margin-bottom: 1rem;
}
@media (min-width: 1444px) {
    .ProductDetailContainer{
        width: 60%;
    }
    .product_imagesSection {
        height: 30rem;
        margin-right: 4rem;
    }
    .product_imagesSection_imagen {
        width: 10rem;
        height: 10rem;
    }
    .product_imagenPricipalSection{
        width: 30rem;
        height: 30rem;
    }
}

.container_talles {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 0.5rem;
    margin-bottom: 2.5rem;
}
.talle {
    height: 3rem;
    border: solid #7c7c7c 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}