.modal {
    position: absolute;
    top: 8vh;
    right: 1rem;
    background: white;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
    /* width: 19rem; */
    min-width: 17rem;
    display: flex;
    flex-direction: column;
}
.modal p {
    color: black;
}

.closeBtn {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    float: right;
    cursor: pointer;
}

.loginBtn, .logoutBtn {
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loginBtn:hover,
.logoutBtn:hover {
    background: var(--color-gris-oscuro);
}

.conteinerText {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.conteinerInicial {
    background-color: rgb(185, 185, 185);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerInicial p {
    color: white;
    font-size: 2rem;
}
.conteinerDescription{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.conteinerDescription  {
    font-size: 0.9rem;
}

.descriptionTextTitle {
    text-transform: capitalize;
    font-size: 1.1rem;
}
.descriptionBoton{
    text-decoration:underline;
    cursor: pointer;
}
.conteinerAviso {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}